App/WebApp/WebApp.Front/Service References/WebServiceListaDetail/WsListaDetail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webService.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webService.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webService.org/">
      <s:element name="GetListaItemsId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ListaId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListaItemsIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListaItemsIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteListaItemId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="detLista" type="tns:DetLista" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DetLista">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DetListaId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ListaId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorUnitario" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SubTotal" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteListaItemIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteListaItemIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListaItemsIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetListaItemsId" />
  </wsdl:message>
  <wsdl:message name="GetListaItemsIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetListaItemsIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteListaItemIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteListaItemId" />
  </wsdl:message>
  <wsdl:message name="DeleteListaItemIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteListaItemIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WsListaDetailSoap">
    <wsdl:operation name="GetListaItemsId">
      <wsdl:input message="tns:GetListaItemsIdSoapIn" />
      <wsdl:output message="tns:GetListaItemsIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteListaItemId">
      <wsdl:input message="tns:DeleteListaItemIdSoapIn" />
      <wsdl:output message="tns:DeleteListaItemIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsListaDetailSoap" type="tns:WsListaDetailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListaItemsId">
      <soap:operation soapAction="http://webService.org/GetListaItemsId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteListaItemId">
      <soap:operation soapAction="http://webService.org/DeleteListaItemId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsListaDetailSoap12" type="tns:WsListaDetailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListaItemsId">
      <soap12:operation soapAction="http://webService.org/GetListaItemsId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteListaItemId">
      <soap12:operation soapAction="http://webService.org/DeleteListaItemId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsListaDetail">
    <wsdl:port name="WsListaDetailSoap" binding="tns:WsListaDetailSoap">
      <soap:address location="http://localhost:30251/WsListaDetail.asmx" />
    </wsdl:port>
    <wsdl:port name="WsListaDetailSoap12" binding="tns:WsListaDetailSoap12">
      <soap12:address location="http://localhost:30251/WsListaDetail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>