App/WebApp/WebApp.Front/Service References/WebServiceLista/WsLista.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webService.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webService.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webService.org/">
      <s:element name="GetLista">
        <s:complexType />
      </s:element>
      <s:element name="GetListaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListaSoapIn">
    <wsdl:part name="parameters" element="tns:GetLista" />
  </wsdl:message>
  <wsdl:message name="GetListaSoapOut">
    <wsdl:part name="parameters" element="tns:GetListaResponse" />
  </wsdl:message>
  <wsdl:portType name="WsListaSoap">
    <wsdl:operation name="GetLista">
      <wsdl:input message="tns:GetListaSoapIn" />
      <wsdl:output message="tns:GetListaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsListaSoap" type="tns:WsListaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLista">
      <soap:operation soapAction="http://webService.org/GetLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsListaSoap12" type="tns:WsListaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLista">
      <soap12:operation soapAction="http://webService.org/GetLista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsLista">
    <wsdl:port name="WsListaSoap" binding="tns:WsListaSoap">
      <soap:address location="http://localhost:30251/WsLista.asmx" />
    </wsdl:port>
    <wsdl:port name="WsListaSoap12" binding="tns:WsListaSoap12">
      <soap12:address location="http://localhost:30251/WsLista.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>